# Second Notebook which will act as a Sketch Pad
## Conor McCaffrey

In [2]:
# Taking bits from different references

In [3]:
## Initially getting familiar with Jupyter [1]
print('Hello World')

Hello World

### Playing with Headings
#### Still playing

In [4]:
1 + 2

3

In [5]:
# Efficient nummerical arrays
import numpy as np
# Plotting
import matplotlib.pyplot as plt

In [12]:
#### Importing Pandas to load a dataset [2]
import pandas as pd

#data = pd.read_csv("ArXiv.csv")

#data.head()


##### Now to load a numerical dataset using URL (JSON) [3,4]

data1 = pd.read_json("https://data.smcgov.org/resource/mb6a-xn89.json")

data1.head()

,geography,geography_type,year,less_than_high_school_graduate,high_school_graduate,some_college_or_associate_s_degree,bachelor_s_degree_or_higher,location_1,:@computed_region_uph5_8hpn,:@computed_region_i2t2_cryp
0,Atherton,Town,2014-01-01T00:00:00.000,13.6,12.3,2.7,3.5,"{'type': 'Point', 'coordinates': [-122.2, 37.4...",2.0,28596
1,Colma,Town,2014-01-01T00:00:00.000,6.3,6.4,10.4,2.4,"{'type': 'Point', 'coordinates': [-122.455556,...",4.0,28588
2,Foster City,City,2014-01-01T00:00:00.000,11.9,9.7,2.0,2.9,"{'type': 'Point', 'coordinates': [-122.266389,...",6.0,319
3,Portola Valley,Town,2014-01-01T00:00:00.000,48.1,0.0,0.0,1.8,"{'type': 'Point', 'coordinates': [-122.218611,...",14.0,28597
4,Redwood City,City,2014-01-01T00:00:00.000,16.4,10.6,6.6,3.0,"{'type': 'Point', 'coordinates': [-122.236111,...",21.0,28607

# References
[1] https://medium.com/codingthesmartway-com-blog/getting-started-with-jupyter-notebook-for-python-4e7082bd5d46  <br>
[2] https://evidencen.com/4-ways-to-load-data-in-jupyter-notebook-and-visual-studio-code/ <br>
[3] https://dev.socrata.com/blog/2016/02/01/pandas-and-jupyter-notebook.html#importing-a-dataset-into-jupyter# <br>
[4] https://datahub.smcgov.org/Government/Educational-Attainment/mb6a-xn89 <br>

In [ ]:
## The End